# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
*.iml
.gradle/
local.properties
android/app/build/

# iOS
Pods/
*.xcworkspace
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# IDE
.vscode/
.idea/

# Build
build/

# Web
web/

# Windows
windows/

# macOS
macos/

# Linux
linux/

# Test
test/

# Logs
*.log